{% extends "layout.html" %}


{% block content %}

    <style>
        .about-container {
            display: flex;
            flex-direction: column;
            align-items: left;
            justify-content: center;
            margin-top: 100px;
            /* height: 80vh; */
        }

        p {
            font-family: Helvetica, Arial, sans-serif; /* Remove duplicate Helvetica */
            /* font-size: 22px; */
            font-style: normal;
            /* font-weight: bold; */
            line-height: 1.5;
            padding-left: 150px;
            padding-right: 150px;
        }

        @media only screen and (max-width: 600px) {
            .about-container {
                margin-top: 100px;

            }

            p {
                margin-bottom: 30px;
                padding-left: 30px;
                padding-right: 30px;
                align-items: left;
                justify-content: left;
            }
        }

        
    </style>
    
    <div class="about-container">
        <p>Divyansh Sharma is an Indian director from Jammu & Kashmir, working across scripted films and music videos. 
        At the age of 23, he wrote, co-produced, and directed his first 20-minute short film, I Shoot ’Em Down.</p>

        <p>His journey continued with his selection to the European Film College, Denmark, where he expanded his filmmaking skills and cinematic language.
            After graduating, he pursued a career in independent filmmaking.
        </p>

        <p>His latest work, The Lurking, which he wrote, directed, and co-produced with Kalpa Chitra Productions, has been selected for the Wench Film Festival.
            Over the years, he has directed several experimental and gritty short films. He has also worked as an Executive Producer on television commercials for brands 
            such as Van Heusen, Arvind Jewellers, and Puma. Additionally, he has worked as a Senior Production Coordinator at Red Chillies Color.
        </p>

        <p>Currently, he is working as a Creative Lead Director.</p>

        <p>His motto: “Get busy living, or get busy dying.” — Ellis “Red”</p>

        <p></p>
    </div>

{% endblock %}

{% block scripts %}
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            document.querySelector('.menu a[href="{{ url_for('about') }}"]').classList.add('active');
        });
    </script>
    {% endblock %}